<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-M6JyU6c23U6YRxjqH+1Y6hZSDzBCZ2oLmpTzT+cnW+LoDhfwLfJ3Cbq3KVJl2W/MdZJv1G9XeOGQLR0LsU6pA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      /* Footer Section */
      
      footer {
        background-color: #222222;
        color: #ffffff;
        font-size: 14px;
        padding: 40px 0;
        position:center;
      }
      
      footer a {
        color: #ffffff;
        text-decoration: none;
      }
      
      footer h4 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      
      footer p {
        margin-bottom: 10px;
      }
      
      .social-icons li {
        display: inline-block;
        margin-right: 10px;
      }
      
      .social-icons li:last-child {
        margin-right: 0;
      }
      
      .social-icons a {
        color: #ffffff;
        font-size: 20px;
        display: block;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }
      
      .social-icons a:hover {
        transform: scale(1.1);
      }
      
      .fb-messengermessageus {
        display: inline-block;
        vertical-align: middle;
      }
      </style>
</head>
<body>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h4>GameChanger</h4>
          <p>Maharajgunj, Kathmandu, Nepal</p>
          <p><a href="tel:+9779808305830">+977 9808305830</a></p>
          <p><a href="mailto:gamechanger.com.np@gmail.com">gamechanger.com.np@gmail.com</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <h4>Connect with us</h4>
          <ul class="social-icons">
            <li><a href="https://youtube.com/@gamechangervlog-xr6kd"><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100091780968711"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/></a></li>
            <li><a href="https://www.instagram.com"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a></li>
            <li><a href="https://www.twitter.com/GameChangerNp"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a></li>
            <li><a href="https://www.linkedin.com/in/gamechanger-company-59b029273"><img src="https://img.icons8.com/color/48/000000/linkedin.png"/></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12">
          <!-- You can generate the FB Messenger button code from the Facebook Developer site as I mentioned in the previous response -->
          <h4>Chat with us</h4>
          <div class="fb-messengermessageus"
               messenger_app_id="YOUR_APP_ID"
               page_id="YOUR_PAGE_ID"
               color="white"
               size="standard">
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>