body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

/* Style for page header */
header {
  background-color: #1abc9c;
  padding: 5px;
  color: white;
  text-align: center;
}



/* Style for main content section */
.container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  padding: 30px;
   background-color: #fff; 
  box-shadow: 0px 0px 10px #ccc;
  float: center;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  header {
    padding: 2px; /* Reduce the padding for small screens */
  }
  header h1{
    font-size:x-large;
  }
  .container{
    padding: 15px;
  }
}
@media screen and (max-width: 950px) {
  .container {
    max-width:80%;
  
  }
}

/* Style for heading of main content */
.container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  background-color: #d0d0d0; 
  text-transform: uppercase;
}
.container h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #1abc9c;
  background-color: #f2f2f2; 
  }
  
  .container h3 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: #8d1515;
 
  }
  
  .container h4 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #1010db;
  }
  
  .container h5 {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #999;
  }
  
  .container h6 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ccc;
  }

/* Style for paragraph text of main content */
.container p {
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 20px;
  text-align: justify;
}

/* Style for image in main content */
.container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Style for footer */
footer {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Style for links in footer */
footer a {
  color: white;
  text-decoration: none;
}

/* Table formatting */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

  .table-wrapper {
    height: 100%; /* take up full height of container */
    overflow: scroll; /* add scrolling functionality */
  }

  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
  background-color: #c2c2c2;
  font-weight: bold;
  text-align: center;
  }

  tr:nth-child(even) {
  background-color: #f2f2f2;
  }

ol {
list-style-type: decimal;
margin-left: 20px;
}

ul {
list-style-type: disc;
margin-left: 20px;
}

p {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.5;
margin: 10px 0;
}

/* CSS for the container boxes */
  
/* CSS for the active and inactive tabs */
.tab {
display: inline-block;
padding: 10px;
background-color: lightgray;
cursor: pointer;
}
.active-tab {
background-color: white;
}
  








/*Form style*/






.questions {
  margin-bottom: 20px;
  margin-left: 5px;
  /*display: flex;
    flex-wrap: wrap;
          */
  background-color: #ffffff;
  border-bottom: 2px solid #ddd;
  /*   
border-radius: 5px;  
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  */
  padding: 25px;
}

.questions li {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  list-style-type: decimal;

}

.questions ol {
  margin-left: -50px;
  margin-bottom: 1px;
}

.questions ol li {
  list-style-type: lower-alpha;
  font-weight: 200;
  margin-left: 20px;
  margin-bottom: -2px;
}

.choices {
  margin-left: 20px;
  font-size: 18px;
  /*
          display:inline-block;
          position:absolute;
          */
}

.choice {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.choice label {
  margin-left: 10px;
}

.choice input[type="radio"] {
  appearance: none;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  position: relative;
  top: 5px;
  transition: border-color 0.3s ease-in-out;
}

.choice input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #333;

}

.answer {
  margin-left: 20px;
  font-weight: bold;
  display: none;


  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.answer::before {
  content: "Result:\a";
  font-size: 20px;
  white-space: pre;
  font-weight: bold;
  margin-right: 10px;
  color: rgb(10, 3, 33);
}

.solution {
  margin-left: 20px;
  font-style: normal;
  display: none;



  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  /*
              opacity: 0;
              
              transform: translateY(-10px);
              animation: appear-from-top 1s ease forwards;
              */
}

/*
          @keyframes appear-from-top {
              0% {
                  opacity: 0;
                  transform: translateY(-10px);
              }
              100% {
                  opacity: 1;
                  transform: translateY(0);
              }
          }
          */

.solution::before {
  content: "Solution:\a";
  white-space: pre;
  font-weight: bold;
  margin-right: 10px;
  color: rgb(10, 3, 33);
}

.check-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.check-button:hover {
  background-color: #3e8e41;
}

.check-button:active {
  background-color: #295e2e;
}



.qa-block {
  margin: 20px 0;
  
}

.qa-question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0%;
  display:flex;
  
}
.qa-question::before {
  content: "Q.";
  font-weight: bold;
  margin-right: 20px;
}
.qa-q{
  margin:0%;
}
.qa-answer {
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  margin-top:0%;
}
.qa-answer::before {
  content: "Ans:";
  font-weight: bold;
  margin-right: 5px;
}
.qa-answer strong {
  font-weight: bold;
  color: #ff5722;
}
.qa-answer h3{
  margin-top:1%;
  margin-bottom:0%;
}
.qa-answer ol{
  margin-top:0%;
  margin-bottom:0%;
}

.qa-a{
  margin:0%;
}
.question-number {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
.right-text {
  font-size: small;
  float: right;
  margin-top: 7px;
  margin-left: 3px;
}
/*
.right-text {
  font-size: small;
  float: right;
  margin-top: 7px;
  margin-left: 3px;
  display: none;
}
*/

@media screen and (max-width: 768px) {

  /*
          .question li{
              font-size: 14px;
          }
          .choices ol li{
              font-size: 14px;
          }
          */
  .choices {
      margin-left: 0;
      font-size: 14px;
  }

  /*

          .choice label {
              font-size: 14px;
          }
          .answer {
              font-size: 14px;
          }

          .solution {
              font-size: 14px;
          }
          */
}




/*  Media preview container */
.media-container {
  display: inline-block;
  width: auto;
  margin: 10px;
  cursor: pointer;
}

.media-source img {
  max-width: 100%;
  height: auto;
}

.media-details {
  display: block;
  padding: 10px;
  background-color: #f5f5f5;
}

/* Preview mode styles */
.preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: none;
}

.preview-image {
  max-width: 90%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-details {
  max-width: 100%;
  max-height: 20%;
  overflow-y: auto;
  position: absolute;
  bottom: 2%;
  
  
  margin-left: 3.2%;
  margin-right: 3.2%;
  background-color: #f5f5f5;
  
  opacity: 0.8;
  border-radius: 5px;
}

.close-preview {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0a0707;
  border: solid black;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.collapse-preview {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0a0707;
  border: solid black;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.uncollapse-preview {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0a0707;
  border: solid black;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}


.preview-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  padding-right: 50px;
  margin-right: 50px;

  color: #fff;
}

.preview-nav button {
  background-image: linear-gradient(to left, #a1a1a1, #ffffff);
  border: none;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  outline:brown;
  color: #0a0707;
  font-size: 15%;
  height: 90%;
  width: 3%;
  cursor: pointer;
  margin-right: 5px;
}

.preview-nav button:focus {
  outline: none;  
}

/* Collapsible details styles */
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapsible-content.open {
  max-height: 300px;
  /* Adjust this value to your desired height */
}












/* Anatomy CSS */





/* Bone */
.bone {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* Cartilage */
.cartilage {
  color: #808080;
  font-weight: bold;
  font-style: italic;
}

/* Joint */
.joint {
  color: #0000FF;
  font-weight: bold;
  font-style: normal;
}



/* Fissure */
.fissure {
  color: #800000;
  font-weight: bold;
  font-style: italic;
}

/* Sulcus */
.sulcus {
  color: #008000;
  font-weight: bold;
  font-style: italic;
}

/* Canal */
.canal {
  color: #FF00FF;
  font-weight: bold;
  font-style: normal;
}



/* Foramen */
.foramen {
  color: #800080;
  font-weight: bold;
  font-style: normal;
}

.fossa {
  color: #800000;
  font-weight: bold;
  font-style: normal;
}





/* Bone Process */
.bone-process {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* Lobe */
.lobe {
  color: #FF4500;
  font-weight: bold;
  font-style: normal;
}

/* Gyri */
.gyri {
  color: #FFA500;
  font-weight: bold;
  font-style: normal;
}

/* Muscle */
.muscle {
  color: #FF0000;
  font-weight: bold;
  font-style: normal;
}

/* Ligament */
.ligament {
  color: #008000;
  font-weight: bold;
  font-style: normal;
}

/* Tendon */
.tendon {
  color: #FFA500;
  font-weight: bold;
  font-style: normal;
}

/* Fascia */
.fascia {
  color: #A52A2A;
  font-weight: bold;
  font-style: normal;
}

.bursae {
  color: #1bae14;
  font-weight: bold;
  font-style: normal;
}


/* Nerve */
.nerve {
  color: #FF00FF;
  font-weight: bold;
  font-style: normal;
}

/* Artery */
.artery {
  color: #FF0000;
  font-weight: bold;
  font-style: normal;
}

/* Vein */
.vein {
  color: #0000FF;
  font-weight: bold;
  font-style: normal;
}

/* Blood Component */
.blood-component {
  color: #800080;
  font-weight: normal;
  font-style: italic;
}

/* Organ */
.organ {
  color: #800000;
  font-weight: normal;
  font-style: normal;
}

/* Gland */
.gland {
  color: #FF1493;
  font-weight: normal;
  font-style: normal;
}



/* Anatomical terminologies  */

.plane {
  color: #0a0b0b;
  font-weight: bold;
  font-style: normal;
}



