body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0px;
}
header{
  background-color: #ffcc00;
  padding: 10px;
  
}

header h1{
  font-size:40px;
  text-align: center;
}

main{
  padding: 20px;
}







h2.unit {
  counter-increment: unit-counter;
  margin-left: px;
  display: flex;
}

h2.unit:before {
  content: counter(unit-counter, upper-alpha) ".";
  margin-right: 5px;
}





h3.lesson {
  counter-increment: lesson-counter;
  margin-left: 15px;
  display: flex;
  margin-bottom: 10px;
  /*
  background-color: #fff;
  */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

h3.lesson:before {
  content: counter(lesson-counter, upper-roman) ".";
  margin-right: 5px;

}

/*
h3.lesson:hover {
  background-color: #f0f0f0;
}
*/





h4.topic {
  counter-increment: topic-counter;
  margin-left: 15px;
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

h4.topic:before {
  content: counter(topic-counter, decimal) ".";
  margin-right: 5px;

}

h4.topic:hover {
  background-color: #f0f0f0;
}





a.unit {
  counter-increment: unit-counter;
  display: block;
		padding: 10px;
		color: #333;
		text-decoration: none;
		border: 2px solid #ccc;
		border-radius: 10px;
		background-color: #f2f2f2;
		font-size: 1.2em;
		font-weight: bold;
		transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

a.unit:before {
  content: counter(unit-counter, upper-alpha) ".";
  margin-right: 5px;
}

a.unit:hover {
  background-color: #ffcc00;
  color: #fff;
  border-color: #ffcc00;
}






a.lesson {
  counter-increment: lesson-counter;
  margin-left: 15px;
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  font-weight: 600;
}

a.lesson:before {
  content: counter(lesson-counter, decimal) ".";
  margin-right: 5px;
}

a.lesson:hover {
  background-color: #f0f0f0;
}




a.topic {
  counter-increment: topic-counter;
  margin-left: 30px;
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.topic:before {
  content: counter(topic-counter, decimal) ".";
  margin-right: 5px;
}

a.topic:hover {
  background-color: #f0f0f0;
}





a.subtopic {
  counter-increment: subtopic-counter;
  margin-left: 45px;
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.subtopic:before {
  content: counter(subtopic-counter, decimal) ".";
  margin-right: 5px;
}

a.subtopic:hover {
  background-color: #f0f0f0;
}




ul {
  margin-top: 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #666;
}