
.header {
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #692323;
   
    
}

.title-wrapper {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 16px;
    color: #ccc;
}


header .logo img {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
