body main {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height:fit-content;
}



 /* Sector options section */
 .sector {
  margin-top: 0px;
  text-align: center;
}

.sector h2 {
  margin-bottom: 50px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.sector-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 400px;
}

.sector-option a {
  color: #771a1a;
  text-decoration: none;
  
}

.sector-option h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.sector-option:hover img {
  transform: scale(1.1);
}



.container {
  
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sector-option:hover .overlay {
  opacity: 1;
}


/* Main content styles */

.image-container {
  margin:10px;
  height: 200px;
}
.image-container img {
  
  height: 190px;
}
.text-container {
  flex: 2;
}


.classes {
  font-size: 18px;
  color:blue;
  font-weight:600;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 0 px;
  background-color: azure;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.feature img {
	max-width: 100%;
}

.feature h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0 10px;
}

.feature p {
	font-size: 16px;
	margin: 0;
}



.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 350px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.service-icon:hover {
  transform: scale(1.1);
}

.service-icon i {
  color: #444;
}

.service-content {
  text-align: center;
}

.service-content h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.service-content p {
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .service-item {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    padding: 1.5rem;
  }
}


.story {
	display: flex;
  border: 1px solid black;
  border-radius: 5px;
	align-items: center;
	margin-bottom: 20px;
}

.story img {
	height: 100px;
	margin-right: 20px;
}

.story h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0px;
}

.story p {
	font-size: 16px;
	margin: 0;
}

.step {
	border: 1px solid #CCCCCC;
	padding: 20px;
}

.step h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 10px;
}

.step p {
	font-size: 16px;
	margin: 0;
}

/* Footer styles */
/* footer {
	background-color: #CCCCCC;
	color: #333333;
	text-align: center;
	padding: 20px;
} */





/* Mobile styles */
@media (max-width: 767px) {

  /* Header styles */
 /*   .logo img {
      height: 40px;
      width: 40px;
    }
    */
    
  
    
  
    /* Main content styles */
    main {
      padding: 30px 10px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .feature {
      margin-bottom: 30px;
    }
  
    .feature h3 {
      font-size: 20px;
      margin: 15px 0 10px;
    }
  
    .story img {
      height: 80px;
    }
  
    .story h3 {
      font-size: 18px;
      margin: 0 0 5px;
    }
  
    .step {
      padding: 15px;
    }
  
    .step h3 {
      font-size: 20px;
      margin: 0 0 5px;
    }
  
    .step p {
      font-size: 14px;
    }
  
    /* Footer styles */
    /* footer {
      padding: 10px;
    } */
  
  }

  


  /* Success stories animations */
.success-story {
    position: relative;
  }
  
  .success-story:hover .overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .story-text {
    position: relative;
    z-index: 1;
  }
  
  .story-text h3 {
    font-size: 24px;
    margin: 0 0 5px;
    color: #FFFFFF;
  }
  
  .story-text p {
    font-size: 16px;
    margin: 0;
    color: #FFFFFF;
  }
  
  .story-image {
    overflow: hidden;
  }
  
  .story-image img {
    transition: transform 0.3s ease-out;
  }
  
  .success-story:hover .story-image img {
    transform: scale(1.1);
  } 
 



  