.container {
	width: 100%;
	overflow-x: hidden;
}

.content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	background-color: #f2f2f2;
	transition: margin-left 1s ease-in-out;
}

.slide-left {
	margin-left: -100%;
}
