    body {
        margin: 0;
        padding: 0;
    }
    
    
    
    .pin-btn {
        margin-left: 14%;
        background-color: #fff;
        color: #333;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .sidebar {
        position: fixed;
        top: 0px;
        left: 0;
        height: 100%;
        width: 15%;
        background-color: #f2f2f2;
        transition: all 0.5s ease-in-out;
        overflow-y: auto;
    }
    
    .sidebar ol {
        list-style: none;
        margin: 0;
        padding: 20px;
    }
    
    .sidebar ol li {
        margin-bottom: 10px;
    }
    
    .sidebar ol li a {
        color: #333;
        text-decoration: none;
        font-size: 16px;
    }
    
    .main {
        margin-top: 50px;
        margin-left: 20%;
        padding: 20px;
    }
    
    .pin-sidebar .sidebar {
        position: fixed;
    }
    
    .pin-sidebar .main {
        margin-left: 5%;
    }
    
    @media (max-width: 768px) {
        .sidebar {
            width: 0;
        }
        .main {
            margin-left: 0;
        }
        .pin-sidebar .sidebar {
            width: 80%;
        }
    }

    