/* Style for page body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  /* Style for page header */
  header {
    background-color: #1abc9c;
    padding: 30px;
    color: white;
    text-align: center;
  }
  
  /* Style for main content section */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  /* Style for heading of main content */
  main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style for paragraph text of main content */
  main p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Style for image in main content */
  main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Style for footer */
  footer {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  /* Style for links in footer */
  footer a {
    color: white;
    text-decoration: none;
  }

 
            /* Table formatting */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    }

    tr:nth-child(even) {
    background-color: #f2f2f2;
    }

    ol {
    list-style-type: decimal;
    margin-left: 20px;
    }

    ul {
    list-style-type: disc;
    margin-left: 20px;
    }

    p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    }
