body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

/* Style for page header */
header {
  background-color: #1abc9c;
  padding: 30px;
  color: white;
  text-align: center;
}

/* Style for main content section */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;

}

/* Style for heading of main content */
.container h1, .h1 {
  font-size: 28px;
  font-weight: 800;
  font-style:;
  font-family: ;
  text-align: center;
  text-transform: uppercase;
  text-decoration:underline ;
  text-decoration-line: 1px;
  text-decoration-thickness: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #000000;
  background-color: rgba(63, 138, 114, 0.43);
}



/*  font-size:36px ;*/
/*  font-weight:800;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
/*  margin-left: 0px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
  

.container h2, .h2 {
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #000000;
  list-style-type:upper-alpha ;
/*  font-size:36px ;*/
 font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
/*  margin-left: 10px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
  
}

.container h3, .h3 {
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #333;
  list-style-type:upper-roman ;
/*  font-size:36px ;*/
  font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
  margin-left: 10px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

.container h4, .h4 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #666;
  list-style-type:decimal ;
/*  font-size:36px ;*/
 font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
  margin-left: 20px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

.container h5, .h5 {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #999;
  list-style-type:lower-alpha ;
/*  font-size:36px ;*/
  font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
  margin-left: 30px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

.container h6, .h6 {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #ccc;
  list-style-type:upper-roman;
/*  font-size:36px ;*/
  font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
  margin-left: 40px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

.h7{
  font-size: 10px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #720f0f;
  list-style-type:lower-alpha;
/*  font-size:36px ;*/
  font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
/*  margin-left: 0px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

.h8{
  font-size: 8px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #722222;
  list-style-type:upper-alpha ;
/*  font-size:36px ;*/
  font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
/*  margin-left: 0px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

.h9{
  font-size: 6px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #844949;
  list-style-type:upper-alpha ;
/*  font-size:36px ;*/
  font-weight:600;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
/*  margin-left: 0px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}
.h10{
  font-size: 4px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #966d6d;
  list-style-type:upper-alpha ;
/*  font-size:36px ;*/
/*  font-weight:800;*/
/*  font-style:italic;*/
/*  font-family:sans-serif ;*/
/*  text-align: center; */
/*  text-transform: uppercase;*/
/*  text-decoration: underline; */
/*  text-decoration-line: 1px; */
/*  text-decoration-thickness: 2px; */
/*  margin-top: 20px; */
/*  margin-bottom: 10px; */
/*  margin-left: 0px; */
/*  color: rgba(63, 138, 114, 0.43); */
/*  background-color:rgba(63, 138, 114, 0.43) ; */
}

/* Style for paragraph text of main content */
.container p {
  font-size: 18px;
 /* line-height: 1.5; */
  color: #000000;
  margin-bottom: 3px;
}

/* Style for image in main content */
.container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Style for footer */
footer {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Style for links in footer */
footer a {
  color: white;
  text-decoration: none;
}

/* Table formatting */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.table-wrapper {
  height: 100%;
  /* take up full height of container */
  overflow: auto;
  /* add scrolling functionality */
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

ol {
  list-style-type: decimal;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  
  
}


ul {
  list-style-type: disc;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}



p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

/* CSS for the container boxes */
.container {
  width: 100%;
  height: 100vh;
  float: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 7px;
  overflow-y: auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
}

/* CSS for the active and inactive tabs */
.tab {
  display: inline-block;
  padding: 10px;
  background-color: lightgray;
  cursor: pointer;
}

.active-tab {
  background-color: white;
}


/* Style the image and the areas 
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
area {
  /* outline: none; /* Remove default outline */
}

/* Style the labels */
area::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  transform: translate(-50%, -50%) rotate(45deg);
}

#label1::before {
  top: 20px;
  left: 20px;
}

#label2::before {
  top: 120px;
  left: 100px;
}

#label3::before {
  top: 250px;
  left: 275px;
}